* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: .875em;
  color: #666666;
  line-height: 1.5;
  margin: 0;
}

/**********************
DEFAULTS
**********************/
h1, h2 {
  font-family: "Georgia", Times New Roman, serif;
  }
  
h1 {
  font-size: 2.5em;
  color: black;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  }

h2 {
  font-size: 1.5em;
  color: #333333;
  }

a {
  color: #f26522;
  text-decoration: none;
  }

a:hover, a:focus {
  color: #666;
  text-decoration: underline;
  }

blockquote {
  font-family: "Lucidia", Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  color: black;
  padding: 10px;
  }

blockquote:before {
  content: open-quote;
  font-size: 2em;
  line-height: .5;
}

blockquote:after {
  content: close-quote;
  font-size: 2em;
  line-height: .5;
}

/**********************
HELPERS
**********************/
.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6 and IE7 use the wrong syntax */
    clip: rect(1px, 1px, 1px, 1px);
}

/**********************
BANNER/HERO IMAGE
**********************/
#banner {
  max-width: 100%;
  position: relative;
  }

#banner h1 {
  color: white;
  text-shadow: 5px 5px 10px #000;
  font-size: 6em;
  text-align: center;
  position: relative;
  margin: -25% 0 20%;
  width: 100%;
  max-width: 100%;
  }
    
#banner img {
  width: 100%;
  position: relative;
  }

/***************************************
NAVIGATION
***************************************/
#menu {
  position: relative;
  margin-top: -5.43%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  }

#menu  ul {
  padding: 0 0 0 20px;
  margin-bottom: 0;
  }

#menu  ul li {
  font-family: "Georgia", Times New Roman, serif;
  font-size: 1em;
  display: inline;
  padding: 0;
  }

#menu  ul li a {
  background-color: #f26522;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  }

#menu  ul li a:hover {
  -moz-transition: background-color .5s ease-in;
  -webkit-transition: background-color .5s ease-in;
  -ms-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
  background-color: #000;
  text-decoration: none;
  color: white;
}

#menu  ul li a:active {
  background-color: #000;
}

#nav-jump {
    border: 1px solid;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font: bold .875em Oxygen, Helvetica, Arial, sans-serif;
    padding: .5em;
    text-transform: uppercase;
    /* move to the upper right corner */
    position: absolute;
    top: .75em;
    right: 1em;
    z-index: 1000;
}

/**********************
MAIN BODY CONTENT
**********************/
section {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 30px;
  }

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  clear: both;
  }


/* Responsive Images */
.body-image {
  margin: 0 auto;
  display: block;
  width: 100%;
}

/* Figure */
.body-image-right {
  float: right;
  margin: 5px 0 10px 15px;
  max-width: 480px;
  width: 100%;
}

.figure_caption {
  font-family: "Georgia", Times New Roman, serif;
  font-size: .75em;
  color: black;
  margin: 10px 0;
}



/***********************
FOOTER
***********************/
footer article {
  background: #000;
  display: flex;
  justify-content: space-between;
  }

ul {
  font-size: 1em;
  font-family: "Georgia", Times New Roman, serif;
  text-transform: uppercase;
  list-style: none;
  flex-grow: 1;
  line-height: 1.5;
  padding: 20px 0 0 20px;
}



ul a {
  color: #c3c3c3;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

ul li {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1em;
  line-height: 2;
  text-transform: none;
  padding: 5px 0 5px 10px;
}

ul li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #c3c3c3;
}


/*********************************
BREAKPOINTS
*********************************/
    /*  >=480px  */
    @media screen and (min-width: 320px) and (max-width: 480px) {
      #banner h1 {
        font-size: 2em;
      }
    }

    @media screen and (max-width: 480px) {
      .body-image-right {
        max-width: 480px;
      }
    }

    @media screen and (max-width: 480px) {
      footer article {
        display: block;
      }
    }

    /*  320px - 768px  = this is the dimensions for drawer menu acitvation  */
    @media only screen and (min-width:320px) and (max-width:768px) {
    /* =================================================================
     * Navigation
     * ================================================================= */
    /* body:not(:target) is a nifty CSS filter to allow show/hide with CSS 
     * in browsers that support :not() and :target
     * See: http://www.creativebloq.com/css3/build-smart-mobile-navigation-without-hacks-6122800
     */
    body:not(:target) #menu {
        max-width: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        outline: 0;
    }
        body:not(:target) #menu ul {
            background: transparent;
            border: 1px solid transparent;
            border-bottom-width: 0;
            max-width: 12.5em; /* 16 * 12.5 = 200 */
            position: absolute;
            right: 2%;
            top: 3em;
            z-index: 1002;
        }
        body:not(:target) #menu ul a {
            border-bottom-width: 0;
            overflow: hidden;
            height: 0;
            /* Hardware Accelerate for better animation */
               -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
               -moz-transition: height .15s;
                -ms-transition: height .15s;
            -webkit-transition: height .15s;
                    transition: height .15s;
        }
        body:not(:target) #menu:target {
            /* Overlay everything */
            bottom: 0;
            height: 100%;
        }
        body:not(:target) #menu:target ul {
            background: #fff;
            background-color: rgba(255, 255, 255, .95);
            border-color: #000;
        }
        body:not(:target) #menu:target ul a {
            border-bottom-width: 1px;
            height: 2em;
            position: relative;
            z-index: 1;
               -moz-transition: height .25s;
                -ms-transition: height .25s;
            -webkit-transition: height .25s;
                    transition: height .25s;
        }
        body:not(:target) #menu-close {
            border: 0;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
        }

    /* Drawer Nav */
    .drawer-nav-enabled {
        /* nothing to see here :-) */
    }
        .drawer-nav-enabled body {
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
               -moz-transition: left .25s ease;
                 -o-transition: left .25s ease;
            -webkit-transition: left .25s ease;
                    transition: left .25s ease;
            /* Hardware acceleration for the animation */
               -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
        }
        .drawer-nav-enabled body #menu {
            overflow: auto;
            overflow-x: hidden;
            width: 0;
            max-width: 80%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            z-index: 3;
               -moz-transition: width .25s ease;
                 -o-transition: width .25s ease;
            -webkit-transition: width .25s ease;
                    transition: width .25s ease;
        }
            .drawer-nav-enabled body #menu ul {
                position: static;
                max-width: 100%;
            }
                .drawer-nav-enabled body #menu ul a {
                    height: auto;
                }
                    .drawer-nav-enabled body #menu ul a:hover,
                    .drawer-nav-enabled body #menu ul a:focus {
                        background-color: #ccc;
                    }
        .drawer-nav-open {
            overflow: hidden;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
            .drawer-nav-open body {
                left: -80%;
                overflow: visible;
            }
                .drawer-nav-open body #menu {
                    overflow: visible;
                    width: 80%;
                }
                .drawer-nav-open body #menu-close {
                    background: black;
                    background: rgba( 0, 0, 0, .5 );
                    left: -100%;
                    width: 100%;
                    box-sizing: border-box;
                    }
      
        
        /* for getActiveMQ */
        #getActiveMQ-watcher { font-family: "default"; }
    }

    /*  481px - 768px  */
    @media screen and (min-width: 481px) and (max-width: 768px) {
      #banner h1 {
        font-size: 3em;
      }
    }

    

    /*  481px - 960px  */
    @media screen and (min-width: 481px) and (max-width: 960px) {
      ul li {
       line-height: 1.25;
       padding: 5px 20px 5px 10px;
      }
    }
    
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .body-image-right {
        max-width: 280px;
        width: 100%;
      }
    }

    /*  769px - 960px */
    @media screen and (min-width: 769px) and (max-width: 960px) {
      #banner h1 {
       font-size: 5em;
      }
    }

   /* >= 769px */
@media only screen and (min-width:769px) {
    
    /* =================================================================
     * Banner
     * ================================================================= */
     
  
    /* =================================================================
     * Navigation
     * ================================================================= */
    #nav-jump {
        right: auto;
        left:  -999em;
    }
        #nav-jump:focus {
            right: 1em;
            left:  auto;
        }
/*     #menu {
        position: absolute;
        top: 3.75em;
        right: 0;
        white-space: nowrap;
    }   
        #menu ul {
            background: transparent;
            border: 0;
        }
        #menu li,
        #menu a {
            border: 0;
            display: inline-block;
        }
        #menu a {
            border-radius: 5px 5px 0 0;
            color: #fff;
            line-height: 2em;
            padding: 0 1em;
        }
        #menu mark a {
            background: #fff;
            color: #000;
        }
        #menu ul a:hover,
        #menu ul a:focus,
        #menu ul mark a:hover,
        #menu ul mark a:focus {
            background: #ccc;
            color: #000;
        }
        #menu ul a:active,
        #menu ul mark a:active {
            background: green;
            color: #fff;
        }
    .home #menu {
        position: static;
        text-align: center;
        margin: 1em auto;
        padding: 0;
        white-space: normal;
    }
        .home #menu ul {
            width: auto;
        }
        .home #menu li {
            display: block;
        }
        .home #menu a {
            border-radius: 5px;
            color: #000;
        }
        .home #menu mark a {
            background: #000;
            color: #fff;
        }
        .home #menu ul a:hover,
        .home #menu ul a:focus,
        .home #menu ul mark a:hover,
        .home #menu ul mark a:focus {
            background: #ccc;
            color: #000;
        }
        .home #menu h1.hidden,
        .home #menu ul .hidden {
            position: static !important;
            width: 100%;
            height: auto;
            clip: inherit;
            overflow: visible;
        }
        .home #menu h1 {
            margin-bottom: .5em;
        }
            .home #menu h1::before {
                content: " ";
                display: block;
                height: 0;
                margin: .5em auto 1em;
                width: 50%;
                border-top: 1px solid #ccc;
            }
    .home #menu-close::before {
        color: #000;
        content: "^ Return to the top";
        display: inline-block;
        font-size: .75em;
        margin-top: 1em;
        text-transform:  uppercase;
    }
        .home #menu-close:hover::before,
        .home #menu-close:focus::before {
            color: red;
        }
 */ 
 
    /* for getActiveMQ */
    #getActiveMQ-watcher { font-family: "medium"; }
  }


    /*  >=960px  */
    @media screen and (min-width: 320px) and (max-width: 960px) {
     ul {
      padding: 0 20px 0 20px;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 960px) {
      footer article {
        padding: 20px 0;
      }
    }

    /*  < 1280px  */
    @media screen and (min-width: 1280px) {
      #banner h1 {
        font-size: 8em;
      }
      
      nav ul li {
        font-family: "Georgia", Times New Roman, serif;
        font-size: 1.25em;
        display: inline;
        padding: 0;
        }
    }
