* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: .875em;
  color: #666666;
  line-height: 1.5;
  margin: 0;
}

nav {
  position: relative;
  margin-top: -5.43%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  }

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  clear: both;
  }

.body-image-right {
  float: right;
  margin: 5px 0 10px 15px;
  max-width: 480px;
  width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  .body-image-right {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .body-image-right {
    max-width: 480px;
  }
}

.body-image {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.figure_caption {
  font-family: "Georgia", Times New Roman, serif;
  font-size: .75em;
  color: black;
  margin: 10px 0;
}

#banner {
  max-width: 100%;
  position: relative;
  }

#banner h1 {
  color: white;
  text-shadow: 5px 5px 10px #000;
  font-size: 8em;
  text-align: center;
  position: relative;
  margin: -25% 0 20%;
  width: 100%;
  max-width: 100%;
  }

#banner img {
  width: 100%;
  position: relative;
  top: -14%;
  }

nav ul {
  padding: 0;
  margin-bottom: 0;
  }

nav ul li {
  font-family: "Georgia", Times New Roman, serif;
  font-size: 1.25em;
  display: inline;
  padding: 0;
  }

nav ul li a {
  background-color: #f26522;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }

nav ul li a:hover {
  -moz-transition: background-color 1s ease-in;
  -webkit-transition: background-color 1s ease-in;
  -ms-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
  background-color: #000;
  text-decoration: none;
}

nav ul li a:active {
  background-color: #000;
}

section {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 30px;
  }

a {
  color: #f26522;
  text-decoration: none;
  }

h1, h2 {
  font-family: "Georgia", Times New Roman, serif;
  }
  
h1 {
  font-size: 2.5em;
  color: black;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  }

h2 {
  font-size: 1.5em;
  color: #333333;
  }
  
footer article {
  background: #000;
  display: flex;
  justify-content: space-between;
  }


@media screen and (min-width: 320px) and (max-width: 959px) {
  footer article {
    padding: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  footer article {
    display: block;
  }
}

ul {
  font-size: 1em;
  font-family: "Georgia", Times New Roman, serif;
  text-transform: uppercase;
  list-style: none;
  flex-grow: 1;
  line-height: 1.5;
  padding: 20px 0 0 20px;
}

@media screen and (min-width: 320px) and (max-width: 959px) {
 ul {
  padding: 0 20px 0 20px;
  }
}

ul a {
  color: #c3c3c3;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

ul li {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1em;
  line-height: 2;
  text-transform: none;
  padding: 5px 0 5px 10px;
}


@media screen and (min-width: 481px) and (max-width: 959px) {
 ul li {
  line-height: 1.25;
  padding: 5px 20px 5px 10px;
  }
}

ul li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

blockquote {
  font-family: "Lucidia", Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  color: black;
  padding: 10px;
  }

blockquote:before {
  content: open-quote;
  font-size: 2em;
  line-height: .5;
}

blockquote:after {
  content: close-quote;
  font-size: 2em;
  line-height: .5;
}
