p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: .875em;
  color: #666666;
  line-height: 1.5;
  }
  
a {
  color: orange;
  }

h1, h2 {
  font-family: "Georgia", Times New Roman, serif;
  }
  
h1 {
  font-size: 2.5em;
  color: black;
  }

h2 {
  font-size: 1.5em;
  color: #333333;
  }
  
ul {
  font-size: 1em;
  font-family: "Georgia", Times New Roman, serif;
  text-transform: uppercase;
  color: black;
  list-style: none;
  float: left;
}

ul li {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: .875em;
  color: #333;
  line-height: 2;
  text-transform: none;
  padding-left: 10px;
}

ul li a {
  color: #333;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
